Options -MultiViews +FollowSymlinks

<IfModule mod_rewrite.c>
  RewriteEngine On
  # Change this to the site location (usually "/")
  RewriteBase /

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^[0-9]{4}\/[0-9]{2}\/[0-9]{2}\/(.*)$ $1 [L,R]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php?r=$1 [L,NC,QSA]

</IfModule>
